<!-- Show whatever your want -->
<div class="box sidebox about">
  <div class="sidebox-title">About</div>
  <div class="sidebox-content">
    {{#is "author"}}
      {{#author}}
        <p>{{bio}}</p>
      {{/author}}
    {{else is "tag"}}
      {{#tag}}
        <p>{{description}}</p>
      {{/tag}}
    {{else}}
      <p>{{@blog.description}}</p>
    {{/is}}
  </div>
</div>

<!-- Google search box -->
<div class="box sidebox google-search-box">
  <div class="sidebox-title">Search</div>
  <div class="sidebox-content">
    <script>
      (function () {
        var cx = '007123461838356529882:hiz2ijtrhvg';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
  </div>
</div>

<!--Change the links to your sites-->
<div class="box sidebox social clearfix">
  <ul>
    <li><a href="/rss" target="_blank" class="social-item rss"><i class="fa fa-rss"></i></a></li>
    <li><a href="{{facebook_url}}" target="_blank" class="social-item facebook"><i class="fa fa-facebook"></i></a></li>
    <li><a href="{{twitter_url}}" target="_blank" class="social-item tw"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://codek-group.slack.com" target="_blank" class="social-item home"><i class="fa fa-slack"></i></a>
    </li>
  </ul>
</div>

<!-- Latest posts -->
<div class="box sidebox latest-articles clearfix">
  <div class="sidebox-title">Latest Articles</div>
  <div class="sidebox-content loading">
    <div class="loader">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </div>
  </div>
</div>

<!-- Subscribe button -->
<div class="box sidebox subscribe-box">
  <div class="sidebox-title">Subscribe this blog</div>
  <div class="sidebox-content">
    {{#if @labs.subscribers}}
      <a class="subscribe-button" href="{{@blog.url}}/subscribe/">Subscribe</a>
    {{else}}
      <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
    {{/if}}
  </div>
</div>